// Global

// Assets
$image-path: '../images';

// Typography
$icon-font-family: 'FontAwesome';

// Colors
// $midnight-blue: #002e6d;

// WordPress
$admin-bar-height-mobile: 46px;
$admin-bar-height-desktop: 32px;
$admin-bar-breakpoint-mobile: 'screen and (max-width: 782px)';
